{% extends 'base.html' %}
{% load static %}

{% block title %}
Shopping Cart - Compendium Magic
{% endblock %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 maincontent">
    <div style="text-align:center; text-decoration:underline"><h3>Your Cart</h3></div>
    <div class="cart_container">
        <!------------------items display----------------->
        {% for item in book_cart %}
        <div class="cart_item">
            <div class="cart_listing">
                <span class="title">{{ item.item.title }}</span> by {{ item.item.author }}
            </div>
            <div class="cart_price pull-right">
                <span class="cart_quantity">{{ item.quantity }} x £<span class="cart_value">{{ item.item.price }}</span></span>
                Quantity: <a href="{% url 'add_to_cart' item.item.id 1 %}">[+]</a> / <a href="{% url 'remove_from_cart' item.item.id 1 %}">[-]</a>
            </div>
        </div>
        {% endfor %}
        {% for item in misc_cart %}
        <div class="cart_item">
            <div class="cart_listing">
                <span class="title">{{ item.item.title }}</span> by {{ item.item.designer }}
            </div>
            <div class="cart_price pull-right">
                <span class="cart_quantity">{{ item.quantity }} x £<span class="cart_value">{{ item.item.price }}</span></span>
                Quantity: <a href="{% url 'add_to_cart' item.item.id 2 %}">[+]</a> / <a href="{% url 'remove_from_cart' item.item.id 2 %}">[-]</a>
            </div>
        </div>
        {% endfor %}
        {% for item in apparel_cart %}
        <div class="cart_item">
            <div class="cart_listing">
                <span class="title">{{ item.item.title }}</span> by {{ item.item.designer }}
            </div>
            <div class="cart_price pull-right">
                <span class="cart_quantity">{{ item.quantity }} x £<span class="cart_value">{{ item.item.price }}</span></span>
                Quantity: <a href="{% url 'add_to_cart' item.item.id 3 %}">[+]</a> / <a href="{% url 'remove_from_cart' item.item.id 3 %}">[-]</a>
            </div>
        </div>
        {% endfor %}
        {% for item in trick_cart %}
        <div class="cart_item">
            <div class="cart_listing">
                <span class="title">{{ item.item.title }}</span> by {{ item.item.designer }}
            </div>
            <div class="cart_price pull-right">
                <span class="cart_quantity">{{ item.quantity }} x £<span class="cart_value">{{ item.item.price }}</span></span>
                Quantity: <a href="{% url 'add_to_cart' item.item.id 4 %}">[+]</a> / <a href="{% url 'remove_from_cart' item.item.id 4 %}">[-]</a>
            </div>
        </div>
        {% endfor %}
        <!-------------------------end items display------------------------>
        <div class="cart_total">
            <h4>Total: £<span class="cart_value">{{ total }}</span></h4>
        </div>
    </div>
</div>
{% endblock %}