{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tricks - Compendium Magic
{% endblock %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-xs-12 maincontent shop_border">
    {% block shop_header %}
    <div class="shop_header navbar navbar-default"><h3>Welcome to our Library of Illusions!</h3></div>
    {% endblock %}
        <div class="row">
        {% block content %}
        <div class="shop_content container-fluid col-md-12 col-sm-12 col-xs-12">
        {% for trick in tricks %}
            <div class="shop_book_display">
                <a href="{% url 'trick_details' trick.id %}">
                    <img src="{{ MEDIA_URL }}{{ trick.cover_image }}">
                    <span class="shop_book_title">{{ trick.title }}</span>
                    <span class="shop_book_author">Difficulty: {{ trick.difficulty|safe }}</span>
                    <span class="shop_book_author">{{ trick.creator }}</span>
                    <span class="shop_book_author">£{{ trick.price }}</span>
                </a>

                <span class="shop_add_to_cart">
                    <a {% if request.user.is_authenticated %} href="{% url 'add_to_cart' trick.id 4 %}"{% else %}href="{% url 'registration_register' %}"{% endif %}>
                    [Add To Cart]
                    </a>
                </span>
            </div>
        {% endfor %}
        {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}