body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding:0px;
    font-color: #fff;
    min-height:100%;
    background-image: url('/static/base/css/bg_texture.png');
}

.wrapper {
    min-width:100%;
	min-height:100%;
	position:relative;
}

.container-fluid {
    z-index: 1;
    min-width:100%;
    min-height:100%;
}

.navbar .nav > li > a {
padding-left: 10px;
padding-right:10px;
}

.navbar_logo {
    padding:5px;
}

.navbar_logo_img {
    height:100%;
}

.parallax {
    z-index: 1;
    width: 100%;
    min-height: 100%;
    height: 100%;
}


.maincontent {
    padding-top: 10vh;
    padding-bottom:30px;
    min-height: 100%;
    position: absolute;
    top:0;
    /*background-color:#fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-left: 1px solid grey;
    border-right: 1px solid grey;*/
}

.text_image_holder{
    margin-top:20px;
    display:inline-table;
    border:1px solid black;
}

.text_image {
    width: 100%;
    height: auto;
    margin-auto;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top:20px;
  margin:0;
  position: fixed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1;
}

.carousel_home {
    padding: 20px;
    min-height:80vh;
    min-width:100%;
    max-height:80vh;
    margin-left:-20px;
    margin-right:-20px;
    background-color: #fff;
}
.carousel-inner img{
    max-height:60vh;
    margin:auto;
    overflow:auto;
}

.home_caption{
    color: black;
}

.carousel-content {
    text-align:center;
}
@media (max-width: 767px){
    .carousel_home{
        padding-top: 20px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-inner img{
        max-height:40vh;
    }
}


/* shop styles */
.shop_border{
    background-color: #fff;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.shop_header {
    text-align: center;
    margin: 10px;
    margin-left:-20px;
    margin-right:-20px;
    padding:10px;
    z-index:2;
}

.shop_merchandise {
    min-width: 350px;
}

.shop_sidenav {
    margin-left: -5px;
    min-height: 69%;
    max-width: 250px;
    min-width: 200px;
    position: fixed;
}

.shop_sidenav ul{
    text-decoration:bold;
}

.shop_sidenav ul li{
    list-style-type: none;
    padding:10px;
    margin-left: -20px;
    border-bottom: 1px solid grey;
}

.shop_sidenav ul .active{
    font-weight: bold;
}

.shop_book_display {
    width:200px;
    display: inline-block;
    text-align:center;
}

.shop_book_title {
    font-size: 14px;
    display:block;
    font-weight:bold;
}
.shop_book_author {
    font-size:11px;
    display:block;
}
.shop_add_to_cart {
    display:block;
    margin-top:10px;
}

/* book detail styles */
.detail_book_display {
    text-align: center;
    margin-top: 20px;
}

.detail_book_img {
    margin-bottom: 20px;
}
.detail_book_title {
    font-size: 20px;
    display: block;
    font-weight: bold;
}

.detail_book_author {
    font-size: 16px;
    display: block;
}
.detail_book_description {
    text-align: left;
    margin-top: 20px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.detail_book_reviews_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display: block;
    font-weight: bold;
}


.video_detail {
    margin-left:0;
    margin-right:0;
    max-width: 100%;
    height: 500px;
}

@media (max-width: 767px){
    .video_detail {
        height:300px;
    }
}

/* cart styles */
.cart_container{
    min-height:75vh;
    max-width:758px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 60px;
}
.cart_item {
    width:100%;
    margin-top:20px;
    display:block;
    border-bottom: 1px solid black;
    padding-bottom:20px;
}
.cart_listing {
    display:inline-block;
    font-weight:bold;
}
.cart_listing .title {
    display:block;
    font-weight: bold;
}
.cart_price{
    display:inline-block;
    text-align:right;
    width:49%;
    vertical-align: top;
    padding-right:0;
    margin-right:0;
}
.cart_value {
    font-weight:bold;
}
.cart_quantity {
    display:block;
}
.cart_total {
    text-align:right;
    margin-top: 20px;
}
/* act styles */

.act_display {
    width:200px;
    display: inline-block;
    text-align:center;
    padding: 10px;
    vertical-align: top;
}

.act_display a {
    color: black;
}

.act_display a:hover {
    text-decoration:none;
    color: grey;
}

.act_display a:active {
    text-decoration:none;
}

.act_name {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-bottom:5px;
}

.act_style {
    display: block;
    font-style: italic;
    padding-bottom:3px;
}

.act_speciality {
    display: block;
    font-style: italic;
    padding-bottom:5px;
}

.act_bio {
}

/* reviews styles */
.reviews_container{
    min-height:100%;
}

.review_display{
    min-height:100%;
    background-color: #fff;
}
.reviews_title{
    text-align: center;
    font-weight:bold;
}

.reviews {
    width:250px;
    display: inline-block;
    padding: 10px;
    padding-top: 10px;
    vertical-align: top;
}

.reviews_text {
    display: block;
}

.reviews_info {
    padding-top: 10px;
    display:block;
    font-weight:bold
}

.contact_content {
    padding-top: 10vh;
    padding-bottom:30px;
    min-height: 100%;
    position: absolute;
    top:0;
    background-color: #fff;

}

.contact_us_form{
    text-align: left;
    padding-bottom: 60px;
}
.contact_us_title h4,h3{
    text-align: center;
}


.contact_us_label{
    display:block;
    padding-top: 5px;
    width:100%;
}

.contact_us_error{
    padding: 0px;
    width:100%;
}

.contact_us_input input,textarea{
    display:block;
    width:100%;
    border-radius: 4px;
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
}


.contact_us_button {
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.contact_us_img {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    align:right;
}

.contact_us_img img {
    width:100%;
}

.contact_us_login_img img{
    width: 100%;
}
@media (max-width: 767px){
    .contact_us_img {
        display: none;
    }
}

.shipping_address {
    margin: 5px;
    text-align:center;
    border:1px solid grey;
    border-radius: 4px;
    height: 120px;
}

.payment_buttons {
    padding-top: 10px;
}

.prices_container{
    border: 1px solid black;
    background-color: #fff;
    padding-top: 100px;
    min-height:100%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position:fixed;
    margin-top:20vm
}

.hireus_sidenav {
    margin-left: -15px;
    min-height: 69%;
    max-width: 250px;
    min-width: 200px;
}

.hireus_sidenav ul{
    text-decoration:bold;
}

.hireus_sidenav ul li{
    list-style-type: none;
    padding:10px;
    margin-left: -20px;
    border-bottom: 1px solid grey;
}

.hireus_sidenav ul .active{
    font-weight: bold;
}
