{% extends 'bootstrap3/bootstrap3.html' %}

{% load staticfiles %}

{% load compress %}

{% load bootstrap3 %}

{% load bootstrap_themes %}

{% bootstrap_styles theme='cyborg' type='min.css' %}

{% block bootstrap3_extra_head %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
    {% compress css %}
    <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    {% compress js %}
    <script src="{% static 'base/js/jquery.cookie.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Welcome to Compendium Magic!
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
<div class="wrapper">
<!--###################################################navbar############################################# -->
    <nav class = "navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    menu <i class="fa fa-caret-down"></i>
                </button>
                <a href="{% url 'index' %}" class="navbar-brand navbar_logo"><img class="navbar_logo_img" src="{% static 'base/img/logo.png' %}"/></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hire Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'hire_us' 0 %}">Stage</a></li>
                            <li><a href="{% url 'hire_us' 1 %}">Restaurant</a></li>
                            <li><a href="{% url 'hire_us' 2 %}">Close Up</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'reviews' 1 %}">Reviews</a></li>
                            <li><a href="{% url 'hire_us' 3 %}">Prices</a></li>
                        </ul>
                    </li>
                    <li class="dropdown hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'shop' 0 %}">Merchandise</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'trick_shop' 0 %}">Tricks</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="#">Tricks</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="hidden"><a href="{% url 'cart' %}"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
                    {% endif %}
                </ul>
                <div class="navbar-form pull-right">
                    {% if request.user.is_authenticated %}
                    Hey {% if request.user.first_name %}
                    {{ request.user.first_name }}
                    {% else %}
                    {{ request.user.username }}
                    {% endif %}
                    <a href="{% url 'auth_logout' %}">Log Out</a>
                    {% else %}
                    <a href="{% url 'auth_login' %}">Log In</a> or <a href="{% url 'registration_register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

<!--###################################################navbarend############################################# -->


<!--###################################################maincontent############################################# -->

    <div class="container-fluid">
        <div class="parallax">
            <div class="row">
                {% block body %}
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 maincontent shop_border home_page">
                        <div class="home_container col-xs-12">
                            <h2 class="home_title">Welcome to Compendium Magic</h2>
                            <div class="jumbotron home_jumbotron">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <img class="img-responsive"src = "{% static 'base/img/background2.png' %}">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="jumbotron home_banner col-xs-12" style="background: url({% static 'base/img/event.jpg' %}) no-repeat fixed center;">
                            <h2 class="home_banner_title">Parties, Corporate events, Weddings, hire one of our acts today</h2>
                        </div>

                        <div class="home_container col-xs-12">
                            <div class="col-sm-6 hidden-xs home_half_image">
                               <img src="{% static 'base/img/logo.png' %}">
                            </div>
                            <div class="col-sm-6 col-xs-12 home_content">
                                <h2>Magic as Entertainment</h2>
                                <p>Magic has been around for centuries. Originally used as a tool to trick people out of money at
                                    the side of the street, it has recently transformed into one of the worlds most sought after
                                    art forms.</p>
                                <p>Here at Compendium Magic we aim to bring to you the most entertaining magic acts. From comedy to classical,
                                    there is a magic act to suit everyone's taste.</p>
                            </div>
                        </div>

                        <div class="jumbotron home_banner col-xs-12" style="background: url({% static 'base/img/wedding.jpg' %}) no-repeat fixed center;">
                            <h2 class="home_banner_title">No ask is too much, get in touch and we'll find the best package for you</h2>
                        </div>

                    </div>

                {% endblock %}
            </div>
        </div>
    </div>

<!--###################################################maincontentend############################################# -->


<!--###################################################footer############################################# -->

    <nav class="navbar navbar-default footer">
        <div class="container">
            <p>2017 Compendium Magic</p>
        </div>
    </nav>

<!--###################################################footerend############################################# -->

</div>

{% endblock %}

