{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Close Up - Hire Us // Compendium Magic
{% endblock %}

{% block description %}
<div class="col-xs-12 col-sm-7 col-sm-offset-1  hire_us_description">
    <p>Close up magic is a favourite for all our acts listed below. Many saw it's the best way to interact with an audience
        as you really are right in the action. Contact us today and we'll tailor our magic to your event.</p>
</div>
{% endblock %}

{% block images %}
<div class="col-md-4 col-sm-6 col-xs-12 hire_image_div" style="height: 199px; background: black url({% static 'base/img/magic1.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 col-sm-6  hidden-xs hire_image_div" style="height: 199px; background: black url({% static 'base/img/stage.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 hidden-xs hidden-sm hire_image_div" style="height: 199px; background: black url({% static 'base/img/wedding.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
{% endblock %}