{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Close Up - Hire Us // Compendium Magic
{% endblock %}


{% block image1 %}<img src="{% static 'base/img/background2.png' %}">{% endblock %}

{% block content1 %}
    We now have two of the finest close up artists working with us, Sarah Wagstaffe and Tom Dykes!
{% endblock %}

{% block image2 %}<img src="{% static 'base/img/background4.png' %}">{% endblock %}

{% block content2 %}
    Scroll down to see some of the acts we have to offer
{% endblock %}