{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid maincontent" style="padding-bottom:60px;">
  <!----------------------banner----------------------->
    <div class="col-md-10 col-md-offset-1 col-xs-12 shop_border" style="text-align:center; border-top:1px solid black;">
          <h1> {% block page_header %}
              {% if identifier == 0 %}
            Stage
            {% elif identifier == 1 %}
            Restaurant
            {% elif identifier == 2 %}
            Close Up
            {% elif identifier == 3 %}
            Prices
            {% else %}
            Reviews
            {% endif %}
              {% endblock %}
          </h1>
    </div>
    {% block banner %}
    <div class="col-md-10 col-md-offset-1 col-xs-12 shop_border hire_image_banner">
        {% block images %}
      <div class="col-md-4 col-sm-6 col-xs-12 hire_image_div" style="height: 199px; background: black url({% static 'base/img/stage.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
      <div class="col-md-4 col-sm-6 hidden-xs hire_image_div" style="height: 199px; background: url({% static 'base/img/lawless_and_wright.png'%}) no-repeat center; background-size: 400px 199px;"></div>
      <div class="col-md-4 hidden-xs hidden-sm hire_image_div" style="height: 199px; background: url({% static 'base/img/magic.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
        {% endblock %}
    </div>
    {% endblock %}

<!---------------- banner------------------->
<div class="col-md-10 col-md-offset-1 col-xs-12 shop_border" style="padding-top:20px; text-align:center;">

    <!----------------------------sidebar--------------------------------->
        <div class="hireus_sidenav navbar navbar-default col-sm-3 hidden-xs">
                <div class="col-xs-12">
                        <h3>Navbar</h3>
                </div>
                <div class="panel-group col-xs-12" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Hire Us <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <p><a href="{% url 'hire_us' 0 %}">Stage</a></p>
                          <p><a href="{% url 'hire_us' 1 %}">Restaurant</a></p>
                          <p><a href="{% url 'hire_us' 2 %}">Close-Up</a></p>
                          <p><a href="{% url 'reviews' 1 %}">Reviews</a></p>
                          <p><a href="{% url 'hire_us' 3 %}">Prices</a></p>
                      </div>
                    </div>
                  </div>

                    <div class="panel panel-default hidden">
                      <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Shop <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <p><a href="{% url 'shop' 0 %}">Merchandise</a></p>
                          <p><a href="{% url 'trick_shop' 0 %}">Tricks</a></p>
                      </div>
                    </div>
                  </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="{% url 'contact_us' %}">Contact Us</a></h4>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a href="#">Tricks</a></h4>
                        </div>
                    </div>
                    {% endif %}
                </div>
        </div>
    <!----------------------------sidebarend--------------------------------->
    {% block description %}
    {% endblock %}
    <!--------------------------------hire_us content-------------------------------------->
    {% block hire_us_content %}
    <div class="col-sm-9 col-xs-12">
    <h2 style="text-align:center;">Acts</h2>
    {% for act in acts %}
    <div class="act_display">
        <a href="{% url 'act_details' act.id %}">
            <img src="{{ MEDIA_URL }}{{ act.image }}" class="act_image">
            <span class="act_name">{{ act.name }}</span>
            <span class="act_style">Style: {{ act.style }}</span>
            <span class="act_speciality">Speciality: {{ act.speciality }}</span>
        </a>
    </div>
    {% endfor %}
    </div>
    {% endblock %}
    <!---------------------------------actsend--------------------------------------->
    <!------------------------------------buttons------------------------------------>
    <div class="col-xs-12" style="border-top: 1px solid black; padding:10px;">
        <a href="{% url 'hire_us' 3 %}"><button class="btn btn-success">Prices</button></a>
        <a href="{% url 'contact_us' %}"><button class="btn btn-success">Contact Us</button></a>
    </div>
    <!-------------------------------------buttonsend----------------------------------------->
</div>
</div>

{% endblock %}