{% extends 'base.html' %}
{% load static %}


{% block title %}
Prices - Hire Us // Compendium Magic
{% endblock %}

{% block body %}
<div class="col-sm-8 col-sm-offset-2 col-xs-12 prices_container">
    <table class="table table-hover" style="background:#fff;">
        <thead>
          <tr>
            <th>Job</th>
            <th>Times From:</th>
            <th>Price from:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Restaurant</td>
                <td>1 hour</td>
                <td>£20</td>
            </tr>
            <tr>
                <td>Close Up</td>
                <td>1 hour</td>
                <td>£120</td>
            </tr>
            <tr>
                <td>Parlour Magic</td>
                <td>1 hour</td>
                <td>£150</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success pull-right" href="{% url 'contact_us' %}">Enquire Now</a>
</div>
{% endblock %}
