{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Prices - Hire Us // Compendium Magic
{% endblock %}

{% block hire_us_content %}
<div class="col-sm-9 col-xs-12">
    <table class="table table-hover prices_table">
        <thead>
          <tr>
            <th>Job</th>
            <th>Times From:</th>
            <th>Price from:</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Restaurant</td>
                <td>1 hour</td>
                <td>£20</td>
            </tr>
            <tr>
                <td>Close Up</td>
                <td>1 hour</td>
                <td>£160</td>
            </tr>
            <tr>
                <td>Parlour Magic</td>
                <td>1 hour</td>
                <td>£200</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-9 col-xs-12">
    <p>We can also do both parlour magic and close up in one night, send us an email today and together we'll sort out the best package for your needs.</p>
</div>
{% endblock %}
