{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Restaurant - Hire Us // Compendium Magic
{% endblock %}

{% block description %}
<div class="col-xs-12 col-sm-7 col-sm-offset-1 hire_us_description">
    <p>Restaurant and table magic is a great way to keep your guests entertained
        between meals, below are all the acts that perform in restaurants, contact us today and we can work
        together to give your customers the best experience</p>
</div>
{% endblock %}


{% block images %}
<div class="col-md-4 hidden-xs hidden-sm hire_image_div" style="height: 199px; background: black url({% static 'base/img/magic1.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 col-sm-6 col-xs-12 hire_image_div" style="height: 199px; background: black url({% static 'base/img/magic.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 col-sm-6 hidden-xs hire_image_div" style="height: 199px; background: black url({% static 'base/img/lawless_and_wright.png'%}) no-repeat center; background-size: 400px 199px;"></div>
{% endblock %}