{% extends 'hire_us/hire_us.html' %}

{% load staticfiles %}

{% block title %}
    Reviews - Hire Us // Compendium Magic
{% endblock %}

{% block hire_us_content %}

<div class="col-sm-9 col-xs-12">
    <div class="review_display">
        {% for review in reviews %}
        <div class="reviews">
            <span class="reviews_text">{{ review.text }}</span>
            <span class="reviews_info">{{ review.firstname }} {{ review.lastname }} on {{ review.publish_date }}</span>
        </div>
        {% empty %}
        <div style="margin-top:20px">
            We have no reviews yet!
        </div>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <div class = "col-md-6 col-md-offset-3">
            {% if form %}
            <h4> Have you hired one of our acts? We'd love to hear from you.</h4>
            <h4> Review us!</h4>
            <form class="form-inline" action="{% url 'reviews' item.pk %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="contact_us_label">
                    {{ field.label_tag }}
                    </div>
                    <div class="contact_us_input">
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger contact_us_error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="contact_us_button">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
            </form>
            <br>
            {% endif %}
        </div>
        {% else %}
        <div class = "col-md-6 col-md-offset-3">
            <h4> Have you hired one of our acts? We'd love to hear from you.</h4>
            <h5> <a href="{% url 'auth_login' %}">Login</a> or <a href="{% url 'registration_register' %}">Register</a> to leave a review</h5>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}