{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Stage - Hire Us // Compendium Magic
{% endblock %}


{% block image1 %}<img src="{% static 'base/img/background2.png' %}">{% endblock %}

{% block content1 %}
    See our newest act Lawless and Wright, the finest magician duo Britain has ever seen!
{% endblock %}

{% block image2 %}<img src="{% static 'base/img/background4.png' %}">{% endblock %}

{% block content2 %}
    Scroll down to see some of the acts we have to offer
{% endblock %}