{% extends 'hire_us/hire_us.html' %}
{% load static %}


{% block title %}
Stage - Hire Us // Compendium Magic
{% endblock %}

{% block description %}
<div class="col-xs-12 col-sm-7 col-sm-offset-1 hire_us_description">
    <p>Stage magic is an area few magicians dare to tread. However, you'll find that these act all bring something
        new to the table. You're guaranteed to be left in wonder and amazement and even stiches. We have everything
        to suit your event, just send us a message.</p>
</div>
{% endblock %}

{% block images %}
<div class="col-md-4 col-sm-6 col-xs-12 hire_image_div" style="height: 199px; background: black url({% static 'base/img/cupsandballs.gif'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 col-sm-6 hidden-xs hire_image_div" style="height: 199px; background: black url({% static 'base/img/lawless_and_wright.png'%}) no-repeat center; background-size: 400px 199px;"></div>
<div class="col-md-4 hidden-xs hidden-sm hire_image_div" style="height: 199px; background: black url({% static 'base/img/magic.jpg'%}) no-repeat center; background-size: 400px 199px;"></div>
{% endblock %}