<p>Name: {{ name }}</p>
<p>Email: {{ email }}</p>

<p>Address:</p>

<p>{{ address_line_1 }}</p>
<p>{{ address_line_2 }}</p>
<p>{{ address_line_3 }}</p>
<p>{{ address_line_4 }}</p>


<p>Total: £{{ total }}</p>

{% for item in book_cart %}
<p>{{ item.quantity }} x {{ item.item.title }} by {{ item.item.author }}</p>
{% endfor %}

{% for item in misc_cart %}
<p>{{ item.quantity }} x {{ item.item.title }} by {{ item.item.designer }}</p>
{% endfor %}

{% for item in apparel_cart %}
<p>{{ item.quantity }} x {{ item.item.title }} by {{ item.item.designer }}</p>
{% endfor %}

{% for item in trick_cart %}
<p>{{ item.quantity }} x {{ item.item.title }} by {{ item.item.designer }}</p>
{% endfor %}

<p>This message will self destruct in 10 seconds</p>