<p>Hi there {{ name }}</p>

<p>We're just going to have a look at your requirements and we'll be in touch as soon as possible.</p>

<p>You'll be contacted either via email: {{ email }}, or by phone: {{ phone }}</p>

<p>please find your details below.</p>

<ul style="text-decoration:none;">
    <li>Date: {{ date }}</li>
    <li>Time: {{ time }}</li>
    <li>Venue: {{ venue }}</li>
    <li>Guests: {{ guests }}</li>
    <li>Extra Information:{{ extra_info }}</li>
</ul>

<p>Speak to you soon!</p>

<p>The Compendium Magic Team</p>