{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div class="col-sm-8 col-sm-offset-2 col-xs-12 contact_content shop_border" style="min-height:100vh">


        {% if complete %}
            <div class="contact_us_title">
                <h4>Thank you for your enquiry, you should receive an email shortly</h4>
            </div>
            <div class="contact_us_login_img col-xs-12">
                <img src="{% static 'base/img/gold_background.png' %}">
            </div>
        {% else %}
            {% if form %}
            <div class="contact_us_title">
                <h4>Make an Enquiry</h4>
            </div>
            <div class="contact_us_form col-md-6 col-sm-6">
            <form class="form-inline" action="{% url 'contact_us' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="contact_us_label">
                    {{ field.label_tag }}
                    </div>
                    <div class="contact_us_input">
                    {{ field }}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger contact_us_error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="contact_us_button">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
            </form>
            </div>

            <div class="contact_us_img col-md-6 col-sm-6">
                <img class="pull-right" src="{% static 'base/img/gold_side.png' %}">
            </div>
            {% endif %}
        {% endif %}

</div>
{% endblock %}